@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-3">
        <h2>My First ASP.net project</h2>
        <ul>
            <li>Pretty cool!!!!</li>
        </ul>
    </div>
</div>
